{% extends '_templates/base.njk' %}

{% block page_title %}UT Study Buildings{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
<div class="buildingtext">
  <h2>UT Austin's Best Study Buildings</h2>
</div>

<div class="learn">
  <p>Learn about UT Austin's top study spots! </p>
</div>

 <div class="picturecredit"> 
  <p>Photos by Austin Martinez </p>
</div>

  <div class="row">
  <div class="col-md-6">
    {% for building in buildings.buildings %}
      <div class="col">
        <h3><a href="buildings/{{ building.slug }}.html">{{ building.name }}</a></h3>
        <img src="img/{{ building.slug }}.jpg" alt="UT study building" class="img-fluid">
      </div>
  </div>

  
  {% endfor %}
</div>
</div>
{% endblock %}